html {
	height: 100%;
}

body {
	background-color: #888;
	font-family: Lato;
	font-size: 20px;
	color: green;
	padding-top: 50px; /*size of fixed navigation bar*/
}

.section {
	/*border: 1px solid black;*/
	background-color: #eee;
	padding: 0 5% 5% 5%;
	width: 76%;
}
.section:nth-of-type(2n+1) {
	background-color: silver;
}

#contact {
	padding: 0;
}

@media(max-width:768px){
	.section {
		width: 100%;
	}
}

h2{
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(51,153,52,0.4),
							0px 8px 13px rgba(51,153,52,0.1),
							0px 18px 23px rgba(51,153,52,0.1);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	color: green;
}

.navbar-default .navbar-nav > .active > a {
	color: green;
	font-weight: 700;
}

.btn-group-lg > .btn, .btn-lg{
	color: green;
}

.navbar-default .navbar-toggle {
	border-color: green;
}

.navbar-default .navbar-toggle .icon-bar {
	background: green;
}

hr {
	border-top: 1px solid green;
	width: 260px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#contactsList {
	padding: 0%;
	margin-bottom: -5%;
	text-align: center;
}

#contactsList > li {
	display: inline;
}

#contactsList i {
	color: green;
	font-size: 2em;
}

#contactsList i:hover {
	color: #5e5e5e;
}

footer {
	text-align: center;
	background-color: #e7e7e7;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.anchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}
